POSTGRES_DB=financeai
POSTGRES_USER=financeai_user
POSTGRES_PASSWORD=sua_senha_aqui
JWT_SECRET=sua_chave_secreta_longa_aqui
OPENAI_API_KEY=sk-or-sua_chave_openrouter_aqui
SPRING_PROFILES_ACTIVE=dev


# SUGESTÃO (BANCO DE DADOS NA NUVEM)
DATABASE_URL="SUA_EXTERNAL_DATABASE_URL_DO_RENDER"
DB_USERNAME="financeai_user"
DB_DATABASE="financeai_x5r8"